#input-form {
    height: 20%;
}

#video-input video {
    min-width: 10em;
    max-width: 17em;
    float:left;
}

#video-input #ctrls {
    float:left;
    margin-left: 1em;
    margin-top : .5em;
}

#ctrls label {
    color: #f5f5f5;
    width: 8em;
}

#ctrls input[type="text"] {
    width: 4.5em;
    display: inline-block;
}

#ctrls .form-group {
    margin-bottom: 2.5%;
}

#ctrls .btns {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.gif-list > div {
    float: left;
}

.gif-item {
    margin-right:2%;
    margin-bottom: 2%;
    width: 160px;
    vertical-align: middle;
    text-align: center;
}

.gif-item.prog {
    margin-top: auto;
    margin-bottom: auto;
}

span.glyphicon-remove {
    position: absolute;
    top: 0;
    right: 0;
    background-color: aliceblue;
    border-radius: 25%;
    border: 1pt solid black;
    padding: 2.5%;
}

span.glyphicon-remove:hover {
    background-color: indianred;
}

span.glyphicon-save {
    text-decoration: none;
    color:black;
    position: absolute;
    top: 0;
    left: 0;
    background-color: aliceblue;
    border-radius: 25%;
    border: 1pt solid black;
    padding: 2.5%;
}

a span.glyphicon-save:hover {
    background-color: #7aba7b;
}

.gif-item.img {
    position:relative;
}